#content {
  font: 22px 'Manrope', sans-serif;
  line-height: 2;
  padding: 150px;
  text-align: center;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headshot {
    border-radius: 100%;
    padding: 30px;
    width: 200px;
}

#name {
    font: bold 80px 'Gochi Hand', cursive;
}

#about {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 100px;
    text-align: left;
}

.info-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 100px;
    text-align: left;
}

.category {
    color: rgb(235, 214, 28);
    letter-spacing: 5px;
    padding: 50px;
    text-align: center;
}

#profiles {
    bottom: 30px;
    float: right;
    position: sticky;
    right: 40px;
    width: 65px;
}

#profiles:hover {
    opacity: 0.7;
}

footer {
    background: rgb(255, 251, 219);
    display: flex;
    flex-direction: column;
    width: 100%;
}

=======
    right: 70px;
    width: 65px;
}

footer {
    background: rgb(255, 251, 219);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#credits {
    font: 15px black;
    text-align: left;
}

#contact {
    font: 25px black;
    padding: 40px;
    text-align: center;
}

#scroll-button {
    border: none;
    border-radius: 5px; 
    top: 20px;
    position: fixed;
    right: 40px;
}

#scroll-button:hover {
    opacity: 0.7
}

#hobbies {
    align-items: center;
    display: flex;
    justify-content: space-around;
    transform: scale(1.2);
    transition: transform 0.2s;
}

#hobbies:hover {
    transform: scale(1.3);
}

#languages {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    transform: scale(.6);
}